  /* Bouton défilement */
  
  .scroll-to-top {
    position: fixed; /* Fixe la position à un endroit précis de l'écran */
    bottom: 20px; /* Distance depuis le bas de l'écran */
    right: 20px; /* Distance depuis la droite de l'écran */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    background-color: var(--primary-color); /* Couleur de fond */
    color: var(--light-color); /* Couleur de la flèche */
    text-align: center; /* Centre la flèche */
    line-height: 30px; /* Aligne verticalement la flèche */
    border-radius: 50%; /* Bouton circulaire */
    text-decoration: none; /* Supprime le soulignement */
    font-size: 25px; /* Taille de la flèche */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ajoute une ombre */
    transition: opacity 0.3s ease, background-color 0.3s ease; /* Transition douce */
    opacity: 0; /* Cache le bouton initialement */
    visibility: hidden; /* Rend le bouton invisible initialement */
    z-index: 1000; /* Met le bouton au-dessus des autres éléments */
}

.scroll-to-top:hover {
    background-color: var(--primary-color); /* Change la couleur au survol */
}

.scroll-to-top.show {
    opacity: 1; /* Rend le bouton visible */
    visibility: visible; /* Rend le bouton visible */
}

.scroll-to-top.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Conteneur centré sur 80% de la page*/
.container {
  font-family: 'Verdana, Geneva, Tahoma, sans-serif', cursive;
  width: 80%; /* Largeur du site */
  margin: 0 auto; /* Centrer horizontalement */
  background-color: rgba(255, 255, 255, 0.9); /* Fond blanc semi transparent pour lisibiilité */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre légère */
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  /* En tête*/

  header {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header p {
  margin-left: 20px;
}

nav ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul.menu > li {
  position: relative;
}

nav ul.menu > li > a,
nav ul.menu > li > span {
  text-decoration: none;
  color: var(--light-color);
  padding: 10px 15px;
  display: block;
  cursor: pointer;
}

nav ul.menu > li > span {
  cursor: default;
}

nav ul.menu > li > a:hover,
nav ul.menu > li > span:hover {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

/* Menu déroulant */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: var(--hover-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px 0;
  z-index: 100;
  min-width: 200px;
  right: auto;
  left: 0;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: var(--light-color);
}

/* Afficher le menu déroulant au survol */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Suppression du gras et espacement inchangé */
nav ul.menu > li > a,
nav ul.menu > li > span {
  font-weight: normal;
}

/* Style spécifique pour la catégorie "Aides" */
.aides > span {
  color: white;
  border: 2px solid var(--secondary-color); /* Bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 5px; /* Espacement pour la bordure */
  text-decoration: none;
  display: inline-block; /* Permet au padding et à la bordure de s'afficher correctement */
}

.aides:hover > span {
  background-color: var(--secondary-color); /* Fond doré */
  color: white; /* Texte blanc */
  transition: background-color 0.3s ease; /* Transition douce */
  transform: scale(1.05); /* Agrandit légèrement le bouton*/
  animation: clignoter 1s infinite;
}

@keyframes clignoter {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

 /* Rectangle avec animation */
 .rectangle {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 300px;
  background-image: url('How\ to\ Dog/Yorkie.png'); /* Chemin vers l'imagae*/
  background-attachment: fixed; /* Effet parallaxe */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 87%; /* Taille de l'image */
  display: flex;
  align-items: center; /* Aligne le contenu verticalement */
}

 /* Texte apparaissant */
 .main-text {
  background-color: rgba(136, 136, 136, 0.5); /* Fond semi transparent du texte */
  margin-left: 25px; /* Espace autour du texte*/
  font-size: 30px;
  color: white;
  text-align: left;
  border-radius: 5px;
  animation: fadein 3s ease-in forwards; /* Animation d'apparition */
 }

 .credit {
  position: absolute;
  bottom: 10px; /* Espacement du bas*/
  left: 10px; /* Espacement de la droite */
  font-size: small;
  color: rgba(255, 255, 255, 0.527);
  animation: fadein 3s ease-in 1s forwards; /* Animation avec délai */
 }

 /* Définition de l'animation */
 @keyframes fadein {
  0%{ opacity: 0;} /* Début de l'animation */
  100%{opacity: 1;} /*Fin de l'animation */
}

 /* Styles global */
 :root {
  --primary-color: #28435e;
  --secondary-color: #bea200b9;
  --hover-color: #839ba3;
  --light-color: #ffffff;
}
 
 /* Paws */
 .paws { 
  width: 850px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.àpropos {
  background: linear-gradient(to right,#2f7694,#d0e5ee);
  margin-top: 10px;
}

 .logo { 
  position: left;
  width: 500px; 
  height: 500px; 
  margin: 10px;
  border-radius: 50px;
}

/* Container du texte à propos */
.logocontainer {
  display: flex;
  justify-content: left; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  gap: 20px; /* Espacement entre logo et texte */
  height: 75vh; /* Optionnel : pour centrer sur toute la hauteur de la page */
}

/* Texte à propos */
.textcontainer {
  margin-left: 0; /* Supprime l'offset gauche */
  max-width: 400px;
  text-align: center;
}

/* Titre */
.textcontainer h1 {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: larger;
  line-height: 1.6;
  border: 2px solid #13273b;
  background: #395e83;
  border-radius: 10px;
}

/* Texte descriptif  */
.textcontainer p {
  text-align: center;
  margin-top: 10px;
  font-size: medium;
  line-height: 1.6;
}

/* Adoption boutton */
.adoption-button {
  will-change: transform, background-position;  
  display: block; /* Fait du bouton un élément de bloc */
  margin: 0 auto; /* Centre horizontalement */
  background: linear-gradient(90deg, darkblue, #bea200b9);
  background-size: 200% 100%; /* Le fond est deux fois plus large que le bouton */
  background-position: 0 0;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  animation: adoptionAnimation 2s linear infinite; /* Animation du dégradé */
  transition: background-position 0.4 ease, transform 0.2s ease;
}

.adoption-button:hover {
  background-position: 100% 0; /* Le dégradé se déplace vers la droite */
  transform: scale(1.05); /* Agrandit légèrement le bouton */
}


@keyframes adoptionAnimation{
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Grille d'images */
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 colonnes */
  gap: 20px; /* Espacement entre les images */
  justify-items: center; /* Centre les images horizontalement */
  margin: 20px auto;
  max-width: 1000px; /* Largeur maximale de la grille */
}

/* Images */
.aronetest {
  width: 100%; /* Images responsive */
  max-width: 300px; /* Largeur max pour éviter qu'elles soient trop grandes */
  height: auto; /* Garde les proportions */
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au survol */
.aronetest:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.tr:hover {
  transform: scale(1.05); /* Agrandit légèrement le bouton */
}

/* Appliquer un fond fixe */
body {
  margin: 0;
  padding: 0;
  background-color:#bba735b9;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%; /* Taille de l'image */
}

 /* Liste */
 nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  padding: 2rem;
}

  .animal {
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .animal img {
    max-width: 150px;
    margin-right: 1rem;
  }

/* Pré-footer général */
.pre-footer {
  display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    text-align: center; /* Centre le texte dans les éléments enfants */
    margin: 0; /* Enlève toute marge superflue */
    padding: 0; /* Enlève le padding éventuel */
    background-image: url('How\ to\ Dog/Yorkie.png'); /* Chemin vers l'image*/
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Conteneur principal */
.prefooter {
  text-align: center;
  display: flex; /* Organisation des colonnes en ligne */
  justify-content: center; /* Centrer les colonnes horizontalement */
  align-items: stretch; /* Étendre les colonnes à la même hauteur */
  gap: 20px; /* Espacement entre les colonnes */
}

/* Style commun des colonnes */
.column {
  flex: 1; /* Chaque colonne prend une part égale de l'espace */
  flex-direction: column;
  min-width: auto; /* Largeur minimale pour éviter des colonnes trop étroites */
  background-color: #ffffff; /* Fond blanc */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre légère */
  padding: 15px; /* Espacement interne */
  text-align: center; /* Centre le contenu */
  justify-content: center; /* Centrage du texte verticalement */
  align-items: center; /* Centrage du contenu à l'intérieur de la colonne */
}

/* Séparateur entre les colonnes */
.prefooter .column:not(:last-child)::after {
  color: var(--primary-color);
  font-size: 30px;
}

/* Style des sections */
.contact-info, .useful-links, .social-media {
  flex: 1 1 30%; /* Chaque section prend environ 30% de largeur */
  text-align: center;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

/* Titres des colonnes */
.column h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #28435e;
  text-transform: uppercase;
  border-bottom: 2px solid #bea200b9;
  padding-bottom: 5px;
}

/* Style des listes */
.useful-links ul {
  list-style: none;
  padding: 0;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.useful-links ul li {
  margin-bottom: 5px;
}

.useful-links ul li a {
  color: black;
  text-decoration: none;
}

.useful-links ul li a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center; /* Centre les éléments verticalement */
  text-align: center; /* Centre le texte dans les éléments enfants */
}

.social-media a {
  display: inline-flex; /* Aligne logo et texte horizontalement */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto; /* Centre le lien dans son conteneur */
}

.social-media p {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}

.social-media p:hover {
  text-decoration: underline;
}

.facebook {
  width: 25px; 
  height: 20px; 
  margin-left: 5px;
}

.twitter{
  width: 25px; 
  height: 25px; 
  margin-left: 5px;
}

.insta {
  width: 20px; 
  height: 20px; 
  margin-left: 5px;
}

.tiktok {
  width: 20px;
  height: 20px; 
  margin-left: 5px;
  transition: transform 0.2s; /* Effet au survol */
}

.facebook, .twitter, .insta, .tiktok {
  transition: transform 0.2s;
}

.facebook:hover, .twitter:hover, .insta:hover, .tiktok:hover {
  transform: scale(1.1);
  cursor: pointer;
}

  
/* Pied de page */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: small;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 0; /* Supprime la marge externe */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

  .top {
    color: white;
  }