  /* En tête*/

  header {
    background-color: #121242;
    color: white;
    padding: 5px; 
  }

  header .insta {
    width: 20px; 
    height: 20px; 
    margin-left: 5px;
  }

  header .tiktok {
    width: 20px; 
    height: 20px; 
    margin-left: 5px;
  }

 /* Rectangle avec animation */
 .rectangle {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 300px;
  background-image: url('How\ to\ Dog/Yorkie.png'); /* Chemin vers l'imagae*/
  background-attachment: fixed; /* Effet parallaxe */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%; /* Taille de l'image */
  display: flex;
  align-items: center; /* Aligne le contenu verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
 }

 /* Texte apparaissant */
 .main-text {
  background-color: rgba(136, 136, 136, 0.5); /* Fond semi transparent du texte */
  padding: auto; /* Espace autour du texte*/
  font-size: 50px;
  color: white;
  text-align: center;
  border-radius: 10px;
  animation: fadein 3s ease-in forwards; /* Animation d'apparition */
 }

 .credit {
  position: absolute;
  bottom: 10px; /* Espacement du bas*/
  right: 10px; /* Espacement de la droite */
  font-size: small;
  color: rgba(255, 255, 255, 0.7);
  animation: fadein 3s ease-in 1s forwards; /* Animation avec délai */
 }

 /* Définition de l'animation */
 @keyframes fadein {
  0%{ opacity: 0;} /* Début de l'animation */
  100%{opacity: 1;} /*Fin de l'animation */
}

 /* Styles global */
 
 .logo { 
  position: left;
  width: 500px; 
  height: 500px; 
  margin: 10px;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

 /* Feuille de style */
 h1{
  color: darkblue;
 }

 /* Liste */
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
  }

  .animal {
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .animal img {
    max-width: 150px;
    margin-right: 1rem;
  }
  
  /* Pied de page */

  footer {
    background-color: #121242;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: small;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  